/.project
/.settings/*
/.idea/*
/.classpath
/bin/*
/logs
/logs/*
/zhongying-api-interface/.project
/zhongying-api-interface/.settings/*
/zhongying-api-interface/.idea/*
/zhongying-api-interface/.classpath
/zhongying-api-interface/bin/*
/zhongying-api-web/.project
/zhongying-api-web/.settings/*
/zhongying-api-web/.idea/*
/zhongying-api-web/.classpath
/zhongying-api-web/bin/*
/*.iml
node_modules